.companyContainer {
    margin: 20px auto;
    padding: 20px;
    max-width: 100%;
    border-radius: 6px;
    font-family: sans-serif;
}

.companyName {
    text-align: center;
    margin-bottom: 20px;
}

/* Flex-контейнер для левой и правой частей */
.contentWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Левая часть — описание (примерно 1/3) */
.left {
    flex: 1;
    padding: 0.5rem;
    min-width: 250px;
}

/* Правая часть — дополнительные данные (примерно 2/3) */
.right {
    flex: 2;
    background-color: var(--secondary-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.avatarContainer {
    margin-top: 0.25rem;
    max-width: 200px; /* максимальная ширина */
    width: 12rem;
    overflow: hidden;
    margin-bottom: 1rem;
    height: auto; /* сохранение пропорций */
    object-fit: cover; /* опционально для обрезки */
}

.avatarImage {
    width: 100%;
    max-width: 200px; /* максимальная ширина */
}

.logoContainer {
    margin-top: 10px;
}

.logoContainer img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Стили для секции Issues */
.issuesSection {
    margin-top: 30px;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.issuesSection h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
}

.issuesList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.issueItem {
    padding: 15px;
    border-radius: 5px;
    background-color: var(--primary-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.issueItem strong {
    color: var(--background-color);
    font-size: 1.1rem;
}

.issueItem p {
    margin-top: 5px;
    color: var(--background-color);
}

.issueButton {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.issueButton:hover {
    background-color: #0056b3;
}

