.companyPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: var(--background-color);
}

.pageTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.companyGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    max-width: 1200px;
    width: 100%;
}
