.login_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh; /* Take up most of the viewport height */
    padding: 20px;
}
.login_body{
max-width: 100%;
}
.login_body form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 100%;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login_body button{
    padding: 10px;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login_body button:hover {
    background-color: var(--secondary-color);
}
.login_container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--text-color);
}

.login_body form input{
    border: none;
    border-radius: 4px;
    padding: 15px 20px;
}
.login_footer{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.test{
    color: #0C0032;
    color: #190061;
    color:#240090;
    color:#3500D3;
    color: #282828;
}
h1{
    color: var(--primary-color);
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: var(--primary-color);
}

