@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Светлая тема (по умолчанию) */
:root {
  --primary-color: #18181b;         /* Основной фон */
  --secondary-color: #27272a;       /* Вторичный фон */
  --accent-color: #3b82f6;          /* Оставляем тот же акцент */
  --text-color: #f4f4f5;            /* Очень светлый, но не белый */
  --secondary-text-color: #c0cded;            /* Очень светлый, но не белый */
  --background-color: #09090b;      /* Почти чёрный */
  --dark-gray: #a1a1aa;             /* Тёмно-серый (доп. текст) */
}

/* Темная тема */
[data-theme="dark"] {
  --primary-color: #ffffff;         /* Основной фон */
  --secondary-color: #e4e4e4;       /* Вторичный фон */
  --accent-color: #3b82f6;          /* Яркий синий акцент */
  --text-color: #111827;
  --secondary-text-color: #c0cded;            /* Очень светлый, но не белый */
  --background-color: #ffffff;      /* Фон */
  --dark-gray: #6b7280;         /* Светло-серый (gray-400) */
}


/* Глобальные стили */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: monospace;

}

/* Кнопки */
.button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: var(--accent-color);
  color: white;
}
